@import "tailwindcss";

:root {
  --background: #ffffff;
   --font-inter: 'Inter', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
  }
}

body {
  background: var(--background);
 font-family: var(--font-inter);
 font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
}
.color {
  color: #047857;
}

.gray {
  color: #828282;
}

/* Swiper pagination uslublari */
.swiper-pagination {
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 8px;
  z-index: 10;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  opacity: 1;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  transform: scale(1.2);
}